.App {
  text-align: center;
 /* background-color: #282c34;*/
}


img {
  max-width: 350px;
}
h1 {
  font-family: "Arizonia", cursive;
  font-size: 80px;
  color:rgb(52, 80, 52);
}

p {
  font-family: "Arizonia", cursive;
  font-size: 40px;
  color: rgb(68, 41, 41);
}

@media (prefers-reduced-motion: no-preference) {
  img {
    animation: img-spin 10s linear ;
  }
}



@keyframes img-spin {
  from {
    transform: rotate(0 deg);
  }
  to {
    transform: rotate(360 deg);
  }
}
